extends layout

block content
    
    html
        // centers the form
        div.row.justify-content-center
            div.col-sm-4.col-sm-offset-4
                form(action="/posts" method="post")
                    legend New Post
                    div.form-group
                        label(for="post-subreddit") Subreddit
                        input.form-control#post-subreddit(type="text" name="subreddit" placeholder="Subreddit")
                    div.form-group
                        label(for="post-title") Title
                        input.form-control#post-title(type="text" name="title" placeholder="Title")
                    div.form-group
                        label(for="post-url") Url
                        input.form-control#post-url(type="url" name="url" placeholder="https://www.google.com")
                    div.form-group
                        label(for="post-summary") Summary
                        textarea.form-control#post-summary(name="summary" placeholder="Title")
                    div.text-right
                        button.btn.btn-primary(type="submit") Create Post
