extends layout

block content
    
    html
        // centers the form
        div.row.justify-content-center
            div.col-sm-4.col-sm-offset-4
                form(action="/sign-up" method="post")
                    legend New Post
                    div.form-group
                        label(for="post-subreddit") Username
                        input.form-control#post-subreddit(type="text" name="username" placeholder="username")
                    div.form-group
                        label(for="post-title") Password
                        input.form-control#post-title(type="password" name="password" placeholder="password")
                    div.text-right
                        button.btn.btn-primary(type="submit") Create Account
